$char-typed-color: black;
$char-selected-color: black;

$char-typed-background-color: transparent;
$char-selected-background-color: #ACCEF7;

$caret-idle-color: black;
$caret-typing-color: black;
$caret-selecting-color: black;
$caret-erasing-color: black;
$caret-complete-color: black;
