doctype html
html
  head
    meta(charset='utf-8')
    title #{htmlWebpackPlugin.options.templateVars.title}
  body
    div(id='app')
    //- built files will be auto injected here by html-webpack-plugin
